/* Simple reset and page style */
    * {
        margin: 0;
        padding: 0;
    }

    html {
        background-color: #f3f3f3;
    }
    
    body {
         font-family: 'Open Sans';
    }
      
    /* Wrapper */
    .wrapper {
        display: flex;
        flex-flow:column wrap;
    }

    /* Nav */
    nav {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
		position: sticky;
		top: 0;
    }
    
    nav h1 {
        font-size: 30px;
    }
      
    nav .title {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
      
    nav input {
        flex-grow: 5;
        width: 90%;
        height: 60px;
        background-color: #f3f3f3;
        border: 0;
        border-bottom: 2px solid black;
        font-size: 30px;
    }
      
    nav input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: darkgray;
        font-size: 30px;
    }


    /* Detail */
    .detail {
        border-radius: 3px;
        margin: 10px;
        width: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-around;
    }
      
    .detail > li {
        border: 1px solid black;
        border-radius: 5px;
        margin:10px;
        padding-bottom: 20px;
        width: 100%;
        padding-left:20px;
        color: black;
        font-size: 16px;
        list-style: none;
    }

    .detail h2 {
        text-align: center;
        color: blue;
        padding-bottom: 10px;
        font-size: 20px;
    }
	
	.topic {
		box-shadow: 0 4px 20px 0 rgba(0,0,0,0.4);
	}
	
	.topic:hover {
		background-color: #BBB3FF;
		cursor: pointer;
	}
     
	/* Computer  */	
    @media (min-width:480px) {
		.detail {
            justify-content: center;
            flex-flow:row wrap;
			align-content: space-between;
        }
        .detail .topic {
            width: 300px;
			height: auto;
        }
	}
	
	 .sticky-image-wrapper{
        position: fixed;
        bottom: 0;
		right: 0;
		margin-right: 10%;
		margin-bottom: 3%;
	 }

    .sticky-image-wrapper img{
        display: table;
        position: relative;
   }