/* Simple reset and page style */
    * {
        margin: 0;
        padding: 0;
    }

    html {
        background-color: #f3f3f3;
    }
    
    body {
         font-family: 'Open Sans';
    }
      
    /* Wrapper */
    .wrapper {
        display: flex;
        flex-flow:column wrap;
    }

    /* Nav */
    nav ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #6200EE;
          position: fixed;
          top: 0;
          width: 100%;
    }

    nav li {
      float: left;
    }

    nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    nav li a:hover:not(.active) {
      background-color: #3700B3;
    }

    .active {
      background-color: #3700B3;
    }

    nav {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
		position: sticky;
		top: 0;
    }
    
    nav h1 {
        font-size: 30px;
    }
      
    nav .title {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
      
    nav input {
        flex-grow: 5;
        width: 90%;
        height: 60px;
        background-color: #f3f3f3;
        border: 0;
        border-bottom: 2px solid black;
        font-size: 30px;
    }
      
    nav input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: darkgray;
        font-size: 30px;
    }


    /* topics */
    .topics {
        border-radius: 3px;
        margin: 10px;
        width: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-around;
    }
      
    .topics > li {
		background-color: white;
        border-radius: 5px;
        margin:10px;
        padding: 0 0 20px 20px;
        width: 100%;
        color: black;
        font-size: 16px;
        list-style: none;
    }

    .topics h2 {
        text-align: center;
        color: blue;
        padding-bottom: 10px;
        font-size: 20px;
    }
	
	.topic {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
	}

    .topic .list ul {
        text-decoration: underline;
    }
    
    .topic .list li {
        list-style: none;
    }
	
	.topic:hover, .topic:active {
		cursor: pointer;
	}
	
	
	/* Sticky Button */
	
	 .sticky-image-wrapper{
        position: fixed;
        bottom: 0;
		right: 0;
		margin-right: 10%;
		margin-bottom: 3%;
	 }

	.sticky-image-wrapper img{
		display: table;
		position: relative;
	}
	
	/* Ipad or Horizontal device */
	@media (min-width:400px) and (max-width:700px) {
		.topics .topic {
            width: 40%;
			height: auto;
        }
	}
     
	/* Computer  */	
    @media (min-width:700px) {
		.topics {
            justify-content: center;
            flex-flow: row wrap;
			align-content: space-between;
        }
        .topics .topic {
            width: 300px;
			height: auto;
        }
	}
